.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 7em;
}
.container form {
    margin-top: 2em;
}
#search-bar {
    height: 43px;
    border-radius: 24px;
    box-shadow: none;
    margin: 0 auto;
    border: 1px solid #dfe1e5;
    width: 584px;
    outline: none;
    font-size: 16px;
    background-image: url(https://icon-library.net/images/google-search-magnifying-glass-icon/google-search-magnifying-glass-icon-5.jpg);
    background-repeat: no-repeat;
    background-position: center left 15px;
    background-size: 3.1%;
    padding-left: 45px;
    padding-right: 45px;
    -webkit-appearance: none;
}

input[type="search"]::-webkit-search-decoration,
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-results-button,
input[type="search"]::-webkit-search-results-decoration {
  display: none;
}
#search-bar:hover {
    box-shadow: 0 0 6px rgba(33,33,33,.2);
}
.topnav {
    font-family: arial,sans-serif;
    position: absolute;
    right: 85px;
    top: 13px; 
}
.topnav a {
    text-decoration: none;
    color: rgba(0,0,0,0.87);
    font-size: 13px;
    display: inline-block;
    padding: 5px;
}
.topnav a:hover {
    text-decoration: underline;
}
#voice-search {
    position: absolute;
    height:auto;
    max-width: 14px;
    margin-left: -35px;
    margin-top: 11px;
}

.topnav #more-apps {
    position: absolute;
    height:auto; 
    max-width: 25px;
    margin-top: -10px;
}

.topnav #more-apps:hover {
    background-color: #d3d3d3;
    border-radius:60%;
    box-shadow: 0 0 0 3px #d3d3d3;
}
.topnav #r-logo {
    position: absolute;
    height:auto; 
    max-width: 40px;
    margin-top: -14px;
    margin-left: 30px;
    border-radius: 50%;
}
.topnav #r-logo:hover {
    background-color: #aeaeae;
    border-radius:60%;
    box-shadow: 0 0 0 3px #aeaeae;
}
.middle button {
    background-color: #f8f9fa;
    border: 1px solid #f8f9fa;
    border-radius: 4px;
    color: #3c4043;
    font-family: arial,sans-serif;
    font-size: 14px;
    margin: 11px 4px;
    padding: 0 16px;
    line-height: 27px;
    height: 36px;
    min-width: 54px;
    text-align: center;
    cursor: pointer;
    user-select: none;
}
.middle {
    display: flex;
    justify-content: center;
    margin-top: 20px;
}
.middle button:hover {
    box-shadow: 0 0 4px rgba(26, 26, 26, 0.2);
}
